/* styles.css */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-image: url('../img/fondo_index.jpg');
    background-size: cover;         /* Hace que la imagen ocupe toda la pantalla */
    background-position: center;    /* Centra la imagen */
    background-repeat: no-repeat;   /* Evita que se repita */
    background-attachment: fixed;   /* Mantiene el fondo fijo al hacer scroll */
    position: relative;
    overflow-x: hidden;
    display: block;
}

/* Capa desenfocada sobre el fondo */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit; /* Usa la misma imagen */
    background-size: cover;
    background-position: left;
    filter: blur(8px); /* Ajusta el nivel de desenfoque */
    z-index: -1; /* Envía la capa detrás del contenido */
}

h1, h2, h3 {
    margin-bottom: 15px;
    color: #000000;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8); /* brillo suave */
}

p {
    margin: 10px 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Posición > logo del condominio */
.logo-container {
    background-color: rgb(255, 255, 255);
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: left;
    margin-top: 0; /* elimina el espacio superior */
    padding: auto;
    box-sizing: border-box;
    padding-left: 10px;
}

/* Tamaño > logo del condominio */
.logo-container img {
    height: 60px;
    width: auto;
}

.btn-home {
    width: 30px;                    /* Ajusta tamaño del botón */
    height: 30px;
    background-image: url('../img/inicio.png'); /* Ruta de tu imagen */
    background-size: contain;       /* Ajusta la imagen dentro del botón */
    background-repeat: no-repeat;   /* Evita que se repita */
    background-position: center;    /* Centra la imagen */
    border: none;                   /* Sin borde */
    cursor: pointer;                /* Cursor tipo mano */
    background-color: transparent;  /* Sin color de fondo */
    transition: transform 0.2s;
    padding-right: 60px;
}

/* Efecto hover opcional */
.btn-home:hover {
    transform: scale(1.1);          /* Pequeño zoom al pasar el mouse */
}

.welcome-container {
    background-color: rgba(255, 255, 255, 0.55); /* Blanco con 55% de opacidad */
    border: 1px solid #ddd;      /* Borde gris claro */
    border-radius: 10px;         /* Bordes redondeados (opcional) */
    padding: 40px 60px 30px;     /* Espaciado interno */
    max-width: 800px;            /* Ancho máximo */
    margin: 30px auto;           /* Centrar horizontalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    text-align: left;          /* Centrar el texto (opcional) */
}

/* Formulario */
.form-principal {
    max-width: 400px;
    margin: 0 auto; /* centrar */
    background-color: rgba(255, 255, 255, 0.55); /* Blanco con 55% de opacidad */
    padding: 30px 30px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="submit"] {
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo para el área de texto (solicitudes) */
textarea {
    width: 100%;
    max-width: 400px;
    height: 150px;
    font-size: 16px;
    padding: 20px;
    caret-color: black; /* cursor visible */
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}



/* Estilo para el campo de texto correo/contraseña */
.campo-login {
    width: 100%; /*tamaño*/
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
}

/* Botón de ingresar */
.boton-login {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
}

.boton-login:hover {
    background-color: #0056b3;
}

input[type="submit"] { 
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.volver-panel-container {
    text-align: left;
    padding-right: 20px;
    margin-top: 10px;
}

/* Botón tipo flecha apuntando a la izquierda */
.btn-volver {
    display: inline-flex;
    align-items: center;       /* centra verticalmente el texto */
    justify-content: center;   /* centra horizontalmente el texto */
    padding: 5px 25px 5px 40px; /* padding izquierdo extra */
    background-color: #007BFF;
    color: #fff;
    font-weight: bold;
    border: none;
    position: relative;
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0% 50%); /* forma de flecha */
    transition: background-color 0.3s ease;
}

.btn-volver:hover {
    background-color: #0056b3;
    text-decoration: none;
}

/* Placeholder invisible para mantener el layout estable */
.volver-panel-placeholder {
    width: 130px; /* mismo ancho aproximado del botón .btn-volver */
    height: 40px; /* altura similar */
    visibility: hidden; /* invisible */
    pointer-events: none; /* no clickeable */
}


/* Tablas */
.tabla-recibos{
    border-collapse: collapse;
    max-width: 800px;
    width: 80%; 
    align-self: center;
    margin: 30px auto; 
    margin-top: 20px;
    background: rgb(255, 255, 255, 0.6);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.tabla-documentos {
    border-collapse: collapse;
    max-width: 800px;
    width: 80%; 
    align-self: center;
    margin: 30px auto; 

    margin-top: 20px;
    background: rgb(255, 255, 255, 0.6);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

.tabla-recibos th {
    background: rgb(255, 255, 255, 0.5);
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.tabla-recibos td,
.tabla-documentos th,
.tabla-documentos td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.tabla-recibos th,
.tabla-documentos th {
    background-color: #f8f9fa;
    color: #333;
}

/* Botones de acción simulados como enlaces */
a.button {
    display: inline-block;
    padding: 8px 15px;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 10px;
    text-decoration: none;
}

a.button:hover {
    background-color: #0056b3;
    text-decoration: none;
}

a.button-user {
    display: block;
    padding: 8px 15px;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    width: 90px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

a.button-user:hover {
    background-color: #0056b3;
    text-decoration: none;
}

/* Estilos para el mensaje emergente */
.popup-mensaje {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    z-index: 1000;
    display: none;
    opacity: 0;
    transition: opacity 0.5s, top 0.5s;
}

.popup-mensaje.exito {
    background-color: #28a745; /* Verde */
}

.popup-mensaje.error {
    background-color: #dc3545; /* Rojo */
}

.popup-mensaje .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}


/* Formulario Crear o Editar Usuario */
.form-group {
    margin-bottom: 15px;
    align-items: center;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8); /* brillo suave */
}

.form-group input,
.form-group select {
    width: 340px;
    padding: 8px;
    box-sizing: border-box;
}



/* Tabla de solicitudes */

.tabla-solicitudes {
    max-width: 900px;
    border-collapse: collapse;
    margin: 30px auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.55); /* Blanco con 55% de opacidad */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 0 20px 0 20px;
}

.tabla-solicitudes th,
.tabla-solicitudes td {
    border: 1px solid #dddddd;
    padding: 12px 15px;
    text-align: left;
}

.tabla-solicitudes th {
    background-color: #f4f4f4;
    color: #333333;
    font-weight: bold;
    text-align: center;
}

/* Estilos para el panel de control */
.dashboard-container {
    max-width: 560px;
    margin: 10px auto;
    padding: 20px 20px 10px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: Arial, sans-serif;
}

.dashboard-container h1,
.dashboard-container h2,
.dashboard-container h3 {
    text-align: center;
    color: #333333;
}

/* Contenedor para los enlaces del dashboard */
.contenedor-enlaces {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espaciado entre los contenedores */
    margin-top: 20px;
}

/* Estilo de cada enlace */
.enlace-item {
    background-color: #96bfd0;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    text-align: center;
    width: 180px; /* ancho */
    min-width: 200px; /* Ancho mínimo para los enlaces */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    color: #030d18;
    font-size: 16px;
}

/* Efecto hover para los contenedores de enlaces */
.enlace-item:hover {
    background-color: #eaeaea;
    text-decoration: none;
}

/* Estilo para el botón de cerrar sesión */
.logout-button {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #c82333;
    text-decoration: none ;
}

.fila-solicitud {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.fila-solicitud:hover {
    background-color: #f0f0f0;
}

.contenido-colapsable {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Muestra 2 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
}

.contenido-colapsable.expanded {
    -webkit-line-clamp: unset;
}

.fila-solicitud td {
    height: 60px; /* Ajusta la altura según sea necesario */
    vertical-align: top;
}

/* Botón de responder */
.btn-responder {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 2px auto;
}

.btn-responder:hover {
    background-color: #0056b3;
}

/* Botón de eliminar */
.btn-eliminar {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
}

.btn-eliminar:hover {
    background-color: #c82333;
}

footer {
    
    bottom: 0;            /* Lo ubica al fondo */
    padding: 20px;              /* Pegado a la izquierda */
    width: auto;          /* Solo ocupa lo necesario */
    padding: 10px 20px;   /* Espaciado interno */
    background: transparent; /* Fondo transparente */
    color: black;         /* Cambia según tu fondo */
    font-size: 14px;
    
}
